@import url(./_underline/header__lang-item_underline.css);

.header__lang-item {
    font-size: 24px;
    line-height: 1.2;
    color: white;
    text-decoration: none;
    transition: opacity 1s;
    padding-left: 18px;
}

@media screen and (max-width: 360px) {
    .header__lang-item {
        font-size: 18px;
        line-height: 1.3;
    }
}


.header__lang-item:hover {
    opacity: .8
}

