@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    max-width: 984px;
    margin: 60px auto 0;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 50px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%; 
        margin-top: 50px;
    }
}

