.lead__image {
    display: block;
    max-width: 984px;
    object-fit: cover;
    object-position: center;
    margin: 65px auto 0px;
    
}



@media screen and (max-width: 1024px) {
    .lead__image {
        padding-top: 20px;
        max-width: 928px;
        height: auto;
    }
}

@media screen and (max-width: 955px) {
    .lead__image {
        max-width: 100%;
        height: auto;    
           
    }
}
